#block-system-main-menu {
/*  margin: 0;*/
  margin-bottom: 0;
}


#block-system-main-menu h2 {
  display: none;
}


#block-system-main-menu ul.menu {
  font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: inline-flex;
}


#block-system-main-menu ul.menu li {
  background: url("../images/tab-left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  margin: 0 4px 0 0;
  padding: 0 0 0 10px;
  list-style-image: none;
  list-style-type: none;
}


#block-system-main-menu ul.menu li a {
  background: url("../images/tab-right.png") no-repeat scroll 100% 0 rgba(0, 0, 0, 0);
  color: #154B70;
  display: block;
/*  padding: 5px 10px 1px 0; */
  padding: 5px 10px 0 0;
  text-decoration: none;
  font-size: 90%;
}

#block-system-main-menu ul.menu li.is-active-trail, #block-system-main-menu ul.menu li:hover {
  background-position: 0 -29px;
}
#block-system-main-menu ul.menu li a.is-active-trail, #block-system-main-menu ul.menu li:hover a {
  background-position: 100% -29px;
  color: #FFFFFF;
}

/*
#block-system-main-menu ul.menu li.menu__item.is-leaf {
  list-style-image: none;
  list-style-type: none;
}
*/

#block-system-main-menu ul.menu li.menu__item ul.menu {
  display: none;
}

#block-system-main-menu ul.menu li.menu__item ul.menu li {

}

/* SECONDARY MENU */
#block-menu-menu-secondary-menu {
  /* Center menu, fix skins */
  display: table;
  margin: 0 auto;
}

#block-menu-menu-secondary-menu h2 {
  display: inline;
  text-transform: uppercase;
  color: #666666;
}

#block-menu-menu-secondary-menu ul.menu {
  margin: 0;
  padding: 0;
  display: inline;
}

#block-menu-menu-secondary-menu ul.menu li {
  margin: 0 0 0 5em;
  padding: 0;
  display: inline;
  list-style: none;
}

#block-menu-menu-secondary-menu ul.menu li a {
  text-decoration: none;
  font-size: 130%;
}

#block-menu-menu-secondary-menu ul.menu li a:hover {
  text-decoration: underline;
  /*background-color: #FF7F00;*/
}

/* FOOTER MENU */
#block-menu-menu-footer-menu {
  margin-left: 40px;
  width: 70%;
  line-height: 18px;
}

#block-menu-menu-footer-menu h2 {
  display: none;
}

#block-menu-menu-footer-menu ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#block-menu-menu-footer-menu ul.menu li {
  float: left;
  list-style: none;
  margin-right: 30px;
  width: 150px;
}

#block-menu-menu-footer-menu ul.menu li.last {
  margin-right: 0;
}


#block-menu-menu-footer-menu ul.menu li ul {

}

#block-menu-menu-footer-menu ul.menu li ul.menu li {
  float: none;
  display: block;
}

#block-menu-menu-footer-menu ul.menu li a {
  text-decoration: none;
  border-bottom: 1px dashed #FFF;
  display: block;
  color: #FFF;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 14px;
}

#block-menu-menu-footer-menu ul.menu li ul.menu li a {
  border-bottom: none;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 12px;
}

#block-menu-menu-footer-menu ul.menu li ul.menu li a:hover {
  text-decoration: underline;
}




/* Websites menu */

ul.speedysito-menu-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.speedysito-menu-icons li {
  float: left;
  width: 22.25em;
  background-color: #F5F7E7;
  margin-right: 1em;
  margin-bottom: 1em;
  position: relative;
}

ul.speedysito-menu-icons li.last {
  margin-right: 0;
}

ul.speedysito-menu-icons li a {
  display: block;
  padding-left: 190px;
  height: 5em;
  background-position: 0.5em center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
}

ul.speedysito-menu-icons li a span {
  display: block;
  height: 100%;
  text-align: center;
  /*background-color: #d2d2d2;*/
}

ul.speedysito-menu-icons a.architettura {
  background-image: url("../images/categorie/1_Architettura.png");
}

ul.speedysito-menu-icons a.automoto {
  background-image: url("../images/categorie/2_Moto.png");
}

ul.speedysito-menu-icons a.band {
  background-image: url("../images/categorie/4_Band.png");
}

ul.speedysito-menu-icons a.bellezza {
  background-image: url("../images/categorie/5_Bellezza.png");
}

ul.speedysito-menu-icons a.eventi {
  background-image: url("../images/categorie/6_Eventi.png");
}

ul.speedysito-menu-icons a.folk {
  background-image: url("../images/categorie/7_folk.png");
}

ul.speedysito-menu-icons a.medici {
  background-image: url("../images/categorie/8_Medici.png");
}

ul.speedysito-menu-icons a.negozi {
  background-image: url("../images/categorie/9_Negozi.png");
}

ul.speedysito-menu-icons a.pasticcerie {
  background-image: url("../images/categorie/10_pasticcerie.png");
}

ul.speedysito-menu-icons a.ristoranti {
  background-image: url("../images/categorie/11_Hotel.png");
}

ul.speedysito-menu-icons a.sitopersonale {
  background-image: url("../images/categorie/12_CVmatrimonio.png");
}

ul.speedysito-menu-icons a.sport {
  background-image: url("../images/categorie/13_sport.png");
}




