#header {
  padding-top: 20px;
}


#preface {
  background: url("../images/preface-wrapper-bg.png") repeat-x scroll 0 0 #144A6E;
}

#main-wrapper {
  background: url("../images/content-gradient.png") repeat-x scroll 0 1px #F5F7E7; 
  padding-bottom: 35px;
}

#main {
}

.region-sidebar-first {
  /*padding: 0 20px 0 0;*/
  padding: 2em 0 0 0;
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer {
  padding-left:0;
  padding-right:0;
}


#main_bottom {
  padding-top: 35px;
}

#footer_top {
  background: url("../images/pattern3.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: 1px solid #D6DDB9;
  border-top: 1px solid #D6DDB9;
  padding: 10px 0;
}

#footer-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
