/* Global styles */
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  /*font-size: 100%;*/   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif
}

p, pre {
    margin: 1em 0;
}


/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited
a:hover
a:focus
a:active {
  color: #FF7F00;
/*#27638C*/
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
 
}

#content {
  color: #666666;
}

.node {
  background-color: #ffffff;
}

.node h2 {
  border-bottom: 1px solid #D6DDB9;
  font-size: 180%;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
}

.node h3 {
  border-bottom: 1px solid #D6DDB9;
  color: #666666;
  font-size: 150%;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 0;
}


h1.title {
  clear: left;
  font-family: "Myriad Pro","Myriad Web Pro Regular","Lucida Grande",Geneva,Trebuchet MS,sans-serif;
  font-size: 183.3%;
  font-weight: bold;
  line-height: 120%;
  margin-bottom: 5px;
}


#block-blockify-blockify-page-title {
  margin: 0;
}

#block-blockify-blockify-page-title #page-title {
  margin: 15px 0;
  color: #f5f5f5;
}


#footer-wrapper {
  background: url("../images/footer-gradient.png") repeat-x scroll 0 0 #144A6E;
  border-top: 2px solid #8DAE2F;
  color: #FFFFFF;
}

#footer {
  background: url("../images/solologofooter2.png") no-repeat scroll right top rgba(0, 0, 0, 0);
  height: 150px;
  min-height: 150px;
}

.speedysito-block-border-papersheet p {
  color: #444444;
}

.speedysito-services-content {
  min-height: 5em;
}

.node {
  border-radius: 10px;
  box-shadow: 0 0 5px #999999;
  padding: 15px 20px;
  /*border: 1px solid #D2D2D2;*/
}

.node .field-name-field-content-banner {
  text-align: center;
}

#content #page-title {
  display: none;
}


#site-logo-name-slogan {
  float: left;
}
.header__region {
  clear:none;
}
